/*===================font=============*/
body{
    font-size: large;
    font-family: Helvetica, Arial, sans-serif;    
}


/*=================================colonne gauche et droite================================*/
.col-lg-3{
    background-color:#ff7e67;
    border: solid 2px #35495e;  
    margin-left: auto;
    margin-right: auto;  
}
.col-lg-9{
        background-color:#EEEEEE;
        border: solid 2px #35495e;
        margin-left: auto;
        margin-right: auto;  
        padding-left: 10%;
        padding-right: 10%;        
}
/*=========p=========*/
p{
    color: black;
}
/*=================================photo================================*/   
img{
    display: block;        
    border-radius: 50%;    
    max-width: 80%;  
    margin: 10%;
    border: solid 2px #35495e;  
    margin-left: auto; 
    margin-right: auto; 
}
/*=================================style liste a puce================================*/
li{      
    color: black; 
    margin-top: 3%;   
}
/*=================================style col gauche================================*/
aside h2{
    background-color: #35495e;
    text-align: center;
    color: #ff7e67
}
/*===================================div info==================================*/

/*===================================contact===================================*/

/*===================================APM===================================*/
.apm2{
    margin: 5%;
}
/*=================================section atout================================*/
.at{
    margin: 5%;
}
/*=================================div loisirs================================*/
.box{    
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
    margin-left: auto;
    margin-right: auto;
    margin: 10%;
    padding-left: 0%;
}
.fa-swimmer{    
    color: #35495e;
    border:solid 2px #35495e;
    border-radius: 50%;
    overflow: hidden;
}
.fa-carrot{    
    color: #35495e;
    border:solid 2px #35495e;
    border-radius: 50%;
    overflow: hidden;
}
.fa-music{    
    color: #35495e;
    border:solid 2px #35495e;
    border-radius: 50%;
    overflow: hidden;
}
/*=================================style col droite================================*/
.fa-briefcase{
    color:  #ff7e67;
}
.fa-graduation-cap{
    color:  #ff7e67;
}
.fa-lightbulb{
    color:  #ff7e67;
}
.separation{background:#ff7e67;
    height: 5px;
}
section h2{
    font-weight: bold;
}
section h4{
    font-weight: bold;
}
/*==============header=============*/
header{
    margin: 5%;
}
.Jerome{
    color: #ff7e67;
}
.reconv{
    text-decoration:underline #ff7e67 ;
}
/*==============section formation=============*/
section{
    margin-top: 3%;
    margin-left: 5%;
    margin-right: 5%;
}
section li{
    list-style-type: disc;    
}
ul .formations{
    display: inline-flex;
    justify-content: flex-start;    
}
/*==============section exp pro=============*/

.row{
    margin-top: 5%;
}

    

