/*=================================colonne gauche et droite================================*/
.col-lg-3{
    background-color:#ff7e67;
    border: solid 2px #35495e;    
}
.col-lg-9{
        background-color:#EEEEEE;
        border: solid 2px #35495e;
        padding-left: 10%;
        padding-right: 10%;        
}
/*=========p=========*/
p{
    color: black;
}
/*=================================photo================================*/   
img{
    display: block;        
    border-radius: 50%;    
    max-width: 80%;  
    margin: 10%;
    border: solid 2px #35495e;  
    margin-left: auto; 
    margin-right: auto; 
}
/*=================================style liste a puce================================*/
li{
    list-style-type: space;    
    color: #ff7e67;
}
/*=================================style col gauche================================*/
.no-gutter > [class*='col-lg-3']
{
    padding-right:0;
    padding-left:0;
}
aside h2{
    background-color: #35495e;
    text-align: center;
    color: #ff7e67}   

/*===================================div info==================================*/
.infos2{
    margin: 5%;
}
/*===================================contact===================================*/
.contact2{
    margin: 5%;
}
/*===================================APM===================================*/
.apm2{
    margin: 5%;
}
/*=================================section atout================================*/
.atout{
    color: black;
}
.at{
    margin: 5%;
}
/*=================================div loisirs================================*/
.box{    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10%;
}
.fa-swimmer{    
    color: #35495e;
    border:solid 2px #35495e;
    border-radius: 50%;
    overflow: hidden;
}
.fa-carrot{    
    color: #35495e;
    border:solid 2px #35495e;
    border-radius: 50%;
    overflow: hidden;}
.fa-music{    
    color: #35495e;
    border:solid 2px #35495e;
    border-radius: 50%;
    overflow: hidden;
}
/*=================================style col droite================================*/
.fa-briefcase{
    color:  #ff7e67;
}
.fa-graduation-cap{
    color:  #ff7e67;
}
.fa-lightbulb{
    color:  #ff7e67;
}
.separation{background:#ff7e67;
    height: 5px;
}
/*==============header=============*/
header{
    margin: 5%;
}
.Jerome{
    color: #ff7e67;
}
.reconv{
    text-decoration:underline #ff7e67 ;
}
/*==============section formation=============*/
section{
    margin-left: 5%;
    margin-right: 5%;
}
.puce{
    list-style: disc;
}
.col-sm-3 li{
    color: black;
}
/*==============section exp pro=============*/
section{
    margin-left: 5%;
    margin-right: 5%;
}
.puce{
    list-style: square;
}

