/*=================================colonne gauche et droite================================*/
.col-lg-3{
    background-color:#ff7e67;
    border: solid 2px #35495e;
    
}
.col-lg-9{
        background-color:#35495e;
        border: solid 2px #35495e;
        padding-left: 10%;
        padding-right: 10%;
        
}
/*=========p=========*/
p{
    color: black;
}
/*=================================photo================================*/   
img{
    display: block;        
    border-radius: 50%;    
    max-width: 80%;  
    margin: 10%;    
}
/*=================================style liste a puce================================*/
li{
    list-style-type: circle;
    color: #ff7e67;
}
/*=================================style col gauche================================*/
.no-gutter > [class*='col-lg-3']
{
    padding-right:0;
    padding-left:0;
}
h3{
    background-color: #35495e;
    text-align: center;    
}
body h3{
    color: #ff7e67;
}
/*===========div info==============*/

/*=================================section atout================================*/
.atout{
    color: black;
}
/*=================================div loisirs================================*/
.box{    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.fa-swimmer{    
    color: #35495e;
    border:solid 2px #35495e;
    border-radius: 50%;
    overflow: hidden;
}
.fa-carrot{    
    color: #35495e;
    border:solid 2px #35495e;
    border-radius: 50%;
    overflow: hidden;}
.fa-music{    
    color: #35495e;
    border:solid 2px #35495e;
    border-radius: 50%;
    overflow: hidden;
}
/*=================================style col droite================================*/
.fa-briefcase{
    color:  #ff7e67;
}
.fa-graduation-cap{
    color:  #ff7e67;
}
.fa-lightbulb{
    color:  #ff7e67;
}
.separation{background:#ff7e67;
    height: 5px;
}
/*==============header=============*/
header{
    margin: 5%;
}
.Jerome{
    color: #ff7e67;
}
.reconv{
    text-decoration:underline #ff7e67 ;
}
/*==============section exp pro=============*/
section{
    margin-left: 5%;
    margin-right: 5%;
}
/*==============footer=============*/
footer{
    margin: 5%;
}